/* CSS Document */
body{/**/}
.cero{margin: 0; padding: 0;}
.head{background: url(../img/bg-vec-01.png) no-repeat center top; background-color: #3b3b3b; background-attachment: fixed; padding: 30px 0; border-bottom: 5px solid #76b82a; margin-bottom: 0px}
.contenido{ padding: 70px 0;}
.contenido-head{ border-bottom: 5px solid #efefef}
.contenido-planes{border-bottom: 1px solid #efefef; padding: 60px 0 100px 0; border-bottom: 5px solid #333}
.contenido-info{padding: 60px 0}
.contenido-direcciones{background: url(../img/bg-vec-01.png) no-repeat center top; background-color: #76b82a; background-attachment: fixed; padding: 20px 0;}
.contenido-direcciones h1{margin-bottom: 20px;}
.contenido-mapas{padding: 0; border-bottom: 5px solid #76b82a}
.contenido-foot{background: #3b3b3b; padding: 30px;}
.card-anim{transition: all 0.5s ease;webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
.card-anim:hover{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1);  webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; z-index: 99; background: #fff;}
.parallax-window { min-height: 400px; background: transparent;}
.list-places div{font-size: 35px; font-weight: 100; color: #fff; font-weight: 100; padding: 18px 0; color: white; text-shadow: 2px 2px 10px #000000;}
.breadcrumb-cero{margin-bottom: 0px;}
.card-custom-home{background: rgba(0, 0, 0, 0.3) /* Green background with 30% opacity */}